body {
  margin: 0;
  padding: 0;
  background-color: #7d7c7c;
}

.nav1 {
  background-color: #4f4444;
  width: 580px;
}
.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
.nav1 li {
  margin-right: 90px;
  display: inline;
}

.nav1 a {
  text-decoration: none;
  color: white;
  position: relative;
}

.nav1 a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -10px;
  left: 0;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav1 .login-btn {
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 4px 10px;
}

.nav2 {
  background-color: #4f4444;
  width: 100px;
  padding: 20px;
  padding-left: 30px;
}
.nav2 ul {
  list-style-type: none;
  height: 150px;
  margin: 0;
  padding: 0;
}
.nav2 li {
  margin-bottom: 20px;
}
.nav2 a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}
.nav2 a:hover {
  color: black;
}
.nav2 .login-btn {
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 4px 10px;
}
.nav2 .login-btn:hover {
  background-color: black;
  color: white;
}

.nav3 {
  background-color: #4f4444;
  width: 670px;
}
.nav3 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
.nav3 ul li {
  margin-right: 120px;
}
.nav3 a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}
.nav3 .dropdown-content {
  display: none;
}
.nav3 .dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
}
.nav3 .dropdown-content a {
  border: none;
  border-radius: 1px;
  background-color: #3a3a3a;
}
.nav3 .login-btn {
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 4px 10px;
}
